<ion-tabs>

	<ion-tab-bar slot="top">
		<ion-tab-button tab="about">
			<ion-icon aria-hidden="true" name="triangle"></ion-icon>
			<ion-label>About me</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="resume">
			<ion-icon aria-hidden="true" name="ellipse"></ion-icon>
			<ion-label>Resume</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="profiles">
			<ion-icon aria-hidden="true" name="square"></ion-icon>
			<ion-label>Profiles</ion-label>
		</ion-tab-button>
	</ion-tab-bar>

</ion-tabs>